<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>Aservlet</servlet-name>
    <servlet-class>cn.hw.servlet.Aservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BServlet</servlet-name>
    <servlet-class>cn.hw.servlet.BServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CServlet</servlet-name>
    <servlet-class>cn.hw.servlet.CServlet</servlet-class>
  </servlet>
 <servlet>
    <servlet-name>DServlet</servlet-name>
    <servlet-class>cn.hw.servlet.DServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EServlet</servlet-name>
    <servlet-class>cn.hw.servlet.EServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>FServlet</servlet-name>
    <servlet-class>cn.hw.servlet.FServlet</servlet-class>
  </servlet>
     <servlet>
    <servlet-name>RServlet</servlet-name>
    <servlet-class>cn.hw.servlet.RServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Aservlet</servlet-name>
    <url-pattern>/Aservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BServlet</servlet-name>
    <url-pattern>/BServlet</url-pattern>
  </servlet-mapping>	
  <servlet-mapping>
    <servlet-name>CServlet</servlet-name>
    <url-pattern>/CServlet</url-pattern>
  </servlet-mapping>	
    <servlet-mapping>
    <servlet-name>DServlet</servlet-name>
    <url-pattern>/DServlet</url-pattern>
  </servlet-mapping>	
      <servlet-mapping>
    <servlet-name>EServlet</servlet-name>
    <url-pattern>/EServlet</url-pattern>
  </servlet-mapping>	
   <servlet-mapping>
    <servlet-name>FServlet</servlet-name>
    <url-pattern>/FServlet</url-pattern>
  </servlet-mapping>	
     <servlet-mapping>
    <servlet-name>RServlet</servlet-name>
    <url-pattern>/RServlet</url-pattern>
  </servlet-mapping>	
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
